### Reading the Data From Diffrent Sources

In [1]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "Email" :"james@gmail.com","job_profile": [{"title" :"Team Lead", "title2":"Sr.Developer"}]}' 
df = pd.read_json(StringIO(Data))
df

,employee_name,Email,job_profile
0,James,james@gmail.com,"{'title': 'Team Lead', 'title2': 'Sr.Developer'}"

In [2]:
df.to_json()

'{"employee_name":{"0":"James"},"Email":{"0":"james@gmail.com"},"job_profile":{"0":{"title":"Team Lead","title2":"Sr.Developer"}}}'

In [3]:
df.to_json(orient='records')

'[{"employee_name":"James","Email":"james@gmail.com","job_profile":{"title":"Team Lead","title2":"Sr.Developer"}}]'

In [4]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (6.0.2)

In [5]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (from html5lib) (0.5.1)

In [6]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (4.14.3)
Requirement already satisfied: soupsieve>=1.6.1 in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (from beautifulsoup4) (2.8.1)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\hetal\desktop\data science\python\venv\lib\site-packages (from beautifulsoup4) (4.15.0)

In [7]:
import pandas as pd

url = "https://www.fdic.gov/bank-failures/failed-bank-list"
df= pd.read_html(url,header=0)

In [8]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Metropolitan Capital Bank & Trust,Chicago,Illinois,57488,First Independence Bank,"January 30, 2026",10550
1,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
2,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
3,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
4,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
5,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
6,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
7,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
8,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
9,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
10,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
11,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
12,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
13,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
14,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
15,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
16,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
17,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
18,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
19,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
20,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
21,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
22,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
23,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
24,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524